.cartDetails{
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 750rem;
    max-height: 1200rem;
    background-color: #fff;
    bottom: 0;
    padding-bottom: 120rem;
    border-radius:25px 25px 0 0;
    /* border-top-left-radius: 20px; */
    /* border-top-right-radius: 20px; */
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 30rem;
}

.title{
    font-weight: bold;
    font-size: 28rem;
    margin: 0;
}

.clear{
    color: #aaa;
    font-size: 24rem;
}

.clear span{
    margin-left: 12rem;
}

.mealList{
    overflow: auto;
}